.header {
  position: relative;
  background: #d92b44;
  height: 2870px;
  font-size: 45px;
  overflow: hidden;

  .deco-frame {
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 0.5rem;
      position: absolute;
      top: 10px;

      li {
        color: #fff;
        font-size: 15px;
        font-weight: 400;
        list-style: none;
        letter-spacing: 0.2em;
      }
    }
  }

  &-overlay {
    background-color: #fbf9f3;
    position: absolute;
    top: 45px;
    left: 45px;
    right: 45px;
    height: 2295px;
    z-index: 1;
  }

  &-logo {
    display: flex;
    height: 20px;
    width: 228px;
    gap: 18px;
    margin-top: 35px;
    margin-left: 40px;

    img {
      position: fixed;
      height: auto;
      width: auto;
      max-height: 100%;
    }
  }
}

.font-en {
  position: fixed;
  display: inline;
  left: 400px;
  font-size: 13px;
  color: #000;
  letter-spacing: 0.05em;
  white-space: nowrap;
}

.logo-static {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* 画面いっぱい */
  color: #d92b44;
  z-index: 1;
}

.logo-static svg {
  max-width: 80%;
  height: auto;
}

.moji {
  position: relative;
  z-index: 1;
  color: #D92B44;

  span {
    position: absolute;
    font-size: 200px;
    font-weight: 600;
  }

  .s1 {
    font-size: 200px;
    font-weight: 600;
    top: -600px;
    left: 100px;
  }

  .h1 {
    font-size: 200px;
    font-weight: 600;
    top: -500px;
    left: 290px;
  }

  .o {
    font-size: 200px;
    font-weight: 600;
    top: -570px;
    left: 500px;
  }

  .s2 {
    font-size: 200px;
    font-weight: 600;
    top: -350px;
    right: 680px;
  }

  .h2 {
    font-size: 200px;
    font-weight: 600;
    top: -250px;
    right: 460px;
  }

  .i {
    font-size: 200px;
    font-weight: 600;
    top: -300px;
    right: 330px;
  }

  .n {
    font-size: 200px;
    font-weight: 600;
    top: -380px;
    right: 120px;
  }
}

.header_img-hero {
  position: relative;
  z-index: 1;

  .header_img {
    position: absolute;
    display: block;
    top: -550px;
    left: 180px;
  }

  .hero-image1 {
    position: absolute;
    top: -460px;
    left: 50px;
  }

  .hero-image2 {
    position: absolute;
    top: -250px;
    left: 220px;
  }

  .hero-image3 {
    position: absolute;
    top: -460px;
    left: 380px;
  }

  .hero-image4 {
    position: absolute;
    top: -500px;
    right: 660px;
  }

  .hero-image5 {
    position: absolute;
    top: -620px;
    right: 420px;
  }

  .hero-image6 {
    position: absolute;
    top: -420px;
    right: 240px;
  }
}

.hero {
  position: relative;
  color: #000;
  z-index: 1;

  .txt {
    position: absolute;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: 0.1em;
    top: -600px;
    right: 160px;
  }

  .hero--recruitment {
    position: absolute;
    font-weight: 100;
    font-size: 35px;
    letter-spacing: 0.1em;
    top: -570px;
    right: 150px;
  }
}

.typesquare_option {
  position: fixed;
  color: #fff;
  font-size: 10px;
  flex-direction: column;
  top: 350px;
  left: 15px;
  z-index: 1;
  writing-mode: vertical-rl;
  font-weight: 600;
  letter-spacing: 0.1em;
}