.body {
  background-color: #d92b44;
}
// .container {
//   position: relative;
//   width: 100%;
//   margin-left: 0;
//   margin-right: 0;
//   height: 68.875rem;
//   background-color: #fbf9f3;
// }

.header--logo {
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 3.125rem;
  width: 25rem;
  height: 7.5rem;
  border-radius: 0 0 1.25rem 1.25rem;
  z-index: 999;

  .header--logo_img {
    position: relative;
    top: -6rem;
    left: 3.5rem;
  }

  .font-en {
    position: relative;
    top: -13rem;
    left: 6.25rem;
    // text-align: center;
  }

}

.page_ttl {
  position: relative;
  background-color: #DB4D43;
  color: #fff;
  height: 12rem;

  .flex {
    display: flex;
  }

  .flex-a-end {
    align-items: flex-end;
  }

  .breadcrumbs {
    position: absolute;
    top: 8rem;
    left: 5rem;
    padding: 0.875rem 0;
    margin: 0.375rem 0;
    color: #fff;
    white-space: nowrap;

    .typesquare_option_ttl {
      color: inherit;
    }
  }

  .page_ttl-en {
    position: absolute;
    right: 2rem;
    top: 3.5rem;
    font-size: 10rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
  }
}

.i_container {
position: relative;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  height: 68.875rem;
  background: #DB4D43;
  display: flex;
}

.interview-main {
  background-color: #fbf9f3;
  height: 70rem;
  width: 140rem;
  margin-left: 3.42rem;
  margin-right: 3.42rem;

  .page_slide_wrap {
    width: 51rem;
    position: relative;
    opacity: 1;
    flex-shrink: 0;
  }

  .posts-interview {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    gap: 3.125rem;
    position: relative;
    right: -8rem;
    height: 70rem;
    z-index: 9999;

    .post {
      position: relative;
      top: 3rem;
      left: 5rem;
      background: #fff;
      border-radius: 0.625rem;
      padding: 1.9rem 3rem 2rem;
      overflow: hidden;
      width: 20rem;
      height: 30rem;

      .post_img {
        margin: 0 auto;
        width: 100%;
        height: 26rem;
        display: block;
      }

      .post--label {
        position: absolute;
        bottom: 0;
        text-align: center;
        padding: 0.7rem 1rem;
        top: 25rem;
        background: #DB4D44;
        color: #fff;
        font-size: 0.975rem;
        border-radius: 0.625rem;
        width: 8rem;
        height: 1.5rem;
      }

      .post-info {

      }
    }
  }
}