.body {
  background-color: #d92b44;
}

.container {
  position: relative;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  height: 68.875rem;
  background-color: #fbf9f3;
}

.header--logo {
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 3.125rem;
  width: 25rem;
  height: 7.5rem;
  border-radius: 0 0 1.25rem 1.25rem;
  z-index: 999;

  .header--logo_img {
    position: relative;
    top: -6rem;
    left: 3.5rem;
  }

  .font-en {
    position: relative;
    top: -13rem;
    left: 6.25rem;
    // text-align: center;
  }

}

.page_ttl {
  position: relative;
  background-color: #DB4D43;
  color: #fff;
  height: 12rem;

  .flex {
    display: flex;
  }

  .flex-a-end {
    align-items: flex-end;
  }

  .breadcrumbs {
    position: absolute;
    top: 8rem;
    left: 5rem;
    padding: 0.875rem 0;
    margin: 0.375rem 0;
    color: #fff;
    white-space: nowrap;

    .typesquare_option_ttl {
      color: inherit;
    }
  }

  .page_ttl-en {
    position: absolute;
    right: 5rem;
    top: 3.5rem;
    font-size: 10rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    letter-spacing: 0.1em;
  }
}

.container {
  background: #DB4D43;

  img {
    margin-left: 3.42rem;
  }

  .recruit-main {
    display: block;
    height: 115rem;
    background-color: #fbf9f3;
    margin-right: 3.42rem;
    max-width: 65rem;

    .inner_main {
      width: 88%;
      padding-top: 3rem;
      padding-bottom: 3rem;
      max-width: 83rem;
      margin-left: auto;
      margin-right: auto;

      .post {
        display: flex;
        position: relative;
        border-radius: 0.625rem;
        overflow: hidden;
        width: auto;
        gap: 3rem;

        .recruit-sns,
        .recruit-tut {
          background: #fff;
          width: 24.8rem;
          height: 27rem;
          list-style: none;
        }

        .img {
          position: relative;
          left: -3.5rem;
          border-radius: 0.625rem 0.625rem 0 0;
        }

        .post-txtarea {
          padding: 1.5rem 1.975rem;

          .post_info {
            margin-bottom: 1rem;

            .post_li {
              position: relative;
              left: -1rem;
              overflow: hidden;
              width: 9rem;
              height: 4rem;
              text-align: center;

              a {
                position: relative;
                display: inline-block;
                vertical-align: middle;
                font-size: 12px;
                background-color: #DB4D43;
                color: #fff;
                padding: 0.25rem 1rem;
                white-space: nowrap;
                margin: 0.125rem;
                z-index: 1;
                border-radius: 9999px;
                text-align: center;
                text-decoration: none;
                transform: scale(1.2);
              }
            }
          }

          .post_li-ttl {

            a {
              color: #000;
              text-decoration: underline;
              text-decoration: none;
            }

            font-size: 1.5rem;
            letter-spacing: 0.1em;
          }
        }

        .recruit-sns:hover,
        .recruit-tut:hover {
          background: rgba(219, 77, 120, 0.05); // #DB4D43の薄いピンク
          transition: background 0.2s;
        }
      }
    }
  }
}