@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

.header {
  position: relative;
  background: #d92b44;
  height: auto;
  font-size: 45px;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  z-index: 1;
}
.header-overlay {
  position: relative;
  margin-left: 55px;
  margin-right: 55px;
  background-color: #fbf9f3;
  height: 1100px;
}
.header-overlay .moji {
  z-index: 10;
  color: #d92b44;
  font-family: "Montserrat", sans-serif;
}
.header-overlay .moji span {
  position: absolute;
  font-size: 200px;
  font-weight: 600;
}
.header-overlay .moji .s1 {
  font-size: 19.5rem;
  font-weight: 600;
  top: 10rem;
  left: 10rem;
}
.header-overlay .moji .h1 {
  font-size: 19rem;
  font-weight: 600;
  top: 18rem;
  left: 26rem;
}
.header-overlay .moji .o {
  font-size: 19rem;
  font-weight: 600;
  top: 10rem;
  left: 43rem;
}
.header-overlay .moji .s2 {
  font-size: 19.5rem;
  font-weight: 600;
  top: 550px;
  left: 840px;
}
.header-overlay .moji .h2 {
  font-size: 19.5rem;
  font-weight: 600;
  top: 700px;
  right: 620px;
}
.header-overlay .moji .i {
  font-size: 19.5rem;
  font-weight: 600;
  top: 580px;
  right: 470px;
}
.header-overlay .moji .n {
  font-size: 19.5rem;
  font-weight: 600;
  top: 480px;
  right: 95px;
}

.header-logo {
  position: fixed;
  top: -40px;
  left: 100px;
  z-index: 10;
  margin-right: 10px;
}

.future-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
}
.future-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.font-en {
  font-size: 18px;
  font-weight: 1000;
  letter-spacing: 0.05em;
  white-space: nowrap;
  position: fixed;
  top: 100px;
  left: 440px;
  z-index: 10;
}

.logo-static {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* 画面いっぱい */
  color: #d92b44;
  z-index: 10;
}

.logo-static svg {
  max-width: 80%;
  height: auto;
}

.header_img-hero .header_img {
  position: absolute;
  display: block;
  top: 220px;
  left: 290px;
}
.header_img-hero .header_img_clip {
  position: absolute;
  display: block;
  top: 920px;
  right: 430px;
}
.header_img-hero .hero-image1 {
  position: absolute;
  top: 380px;
  left: 110px;
}
.header_img-hero .hero-image2 {
  position: absolute;
  top: 580px;
  left: 360px;
}
.header_img-hero .hero-image3 {
  position: absolute;
  top: 390px;
  left: 580px;
}
.header_img-hero .hero-image4 {
  position: absolute;
  top: 380px;
  right: 730px;
}
.header_img-hero .hero-image5 {
  position: absolute;
  top: 170px;
  right: 570px;
}
.header_img-hero .hero-image6 {
  position: absolute;
  top: 410px;
  right: 320px;
}

.hero {
  color: #000;
  z-index: 10;
}
.hero .txt {
  position: absolute;
  top: 250px;
  right: 200px;
  font-size: 15px;
  font-weight: 900;
  letter-spacing: 0.1em;
}
.hero .hero--recruitment {
  position: absolute;
  font-weight: 100;
  font-size: 35px;
  letter-spacing: 0.1em;
  top: 280px;
  right: 190px;
}

.copyright {
  writing-mode: vertical-rl;
  position: fixed;
  color: #fff;
  font-size: 15px;
  flex-direction: column;
  top: 500px;
  left: 20px;
  z-index: 10;
  font-weight: 600;
  letter-spacing: 0.1em;
}

.wrapper-news {
  display: flex;
  position: absolute;
  top: 980px;
  left: 160px;
}
.wrapper-news .home_news {
  height: 50px;
  width: 130px;
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 16px;
  font-weight: 800;
  background-color: #d92b44;
  align-items: center;
  border-radius: 200px;
  letter-spacing: 0.2em;
  z-index: 10;
  margin-right: -50px;
}
.wrapper-news .news_list {
  display: flex;
  height: 50px;
  width: 600px;
  justify-content: center;
  color: #000;
  font-size: 12px;
  font-weight: 800;
  background-color: #ffedef;
  align-items: center;
  border-radius: 200px;
  letter-spacing: 0.3em;
  padding-left: 30px;
}

.footer {
  display: flex;
  justify-content: space-between;
  position: relative;
  left: 0;
  z-index: 9999;
  background: #fff;
  width: 100%;
  height: 233px;
  color: #000;
  border: 3px solid #000;
}
.footer .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  width: 100%;
}
.footer .footer-info {
  flex-direction: column;
  align-items: flex-start;
}
.footer .logo {
  height: 24px;
  width: 267px;
  margin-top: 30px;
  margin-bottom: 40px;
  margin-left: 10px;
  margin-right: 10px;
}
.footer .address {
  font-size: 15px;
  font-weight: 300;
}
.footer-nav {
  position: absolute;
  left: 530px;
  right: 75px;
}
.footer-nav ul {
  display: flex;
  align-items: center;
  height: auto;
  width: 100%;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}
.footer-nav ul li {
  font-size: 25px;
  white-space: nowrap;
  text-align: center;
  margin-right: 45px;
  list-style: none;
  font-weight: bold;
  margin-top: 5px;
}
.footer-nav ul li a {
  color: black;
  text-decoration: underline;
}
.footer-page-top {
  background: black;
  color: #fff;
  font-size: 40px;
  left: 200px;
  top: 60px;
  width: 380px;
  margin-left: auto;
  align-items: center;
  display: flex;
  justify-content: center;
  font-weight: 300;
  flex-direction: column;
}
.footer-page-top::before {
  content: "";
  display: block;
  width: 1rem;
  height: 1rem;
  background: #fff;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

.fz-18 {
  font-size: 1.125rem;
}

.deco-frame {
  display: flex;
  position: fixed;
  top: 0;
  height: 3.125rem;
  left: 0;
  right: 17px;
  overflow: hidden;
  background-color: #d92b44;
  z-index: 10;
  align-items: center;
}
.deco-frame ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.deco-frame ul li {
  color: #fff;
  list-style: none;
  letter-spacing: 8.6px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  padding: 0 0.5rem;
  display: inline-block;
  white-space: nowrap;
  animation: marquee-left 64s linear infinite;
}
.deco-frame ul li span {
  font-weight: 600;
}

@keyframes marquee-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100vw);
  }
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #d92b44;
  position: relative;
  min-height: 100vh;
}
.wrapper .bg-clip {
  position: absolute;
  top: 2570px;
}
.wrapper .eraser {
  position: absolute;
  top: 2500px;
  right: 0;
}

main {
  flex: 1;
}
main .main-overlay {
  position: relative;
  margin-left: 55px;
  margin-right: 55px;
  height: 1550px;
  background-color: #fbf9f3;
}
main .main-overlay .main-copy {
  z-index: 2;
  text-align: left;
  transform: scale(1.2);
  left: 70px;
  height: 235px;
}
main .main-overlay .main-copy .main-copy__inner {
  padding: 0;
  width: 530px;
  position: absolute;
  top: 100px;
  left: 300px;
  z-index: 100;
}
main .main-overlay .main-copy .main-copy__line {
  display: block;
  width: 480px;
  height: 90px;
  line-height: 90px;
  padding-top: 0.2em;
  margin-bottom: 1.5em;
  padding: 0.1em 0.4em;
  background-color: #fffefe;
  font-weight: 600;
  text-align: left;
  color: #000;
  border-bottom: 3px solid #000;
  white-space: nowrap;
}
main .main-overlay .main-copy .chiiki_ugo_kinyuu {
  font-size: 80px;
  letter-spacing: 0.1em;
}
main .main-overlay .main-copy .keizai_kasu {
  font-size: 65px;
  letter-spacing: 0.1em;
}
main .main-overlay .main-copy .wo {
  font-size: 35px;
}
main .main-overlay .main-copy .main-copy__catch {
  display: inline-block;
  width: 700px;
  height: 100px;
  line-height: 100px;
  padding-top: 0.2em;
  letter-spacing: 0.1em;
  font-weight: 600;
  padding: 0.1em;
  background-color: #fffefe;
  text-align: left;
  font-size: 100px;
  color: #000;
  border-bottom: 3px solid #000;
  white-space: nowrap;
}
main .main-overlay .main-copy .main-message--en-v {
  margin-top: 2.5rem;
  margin-left: -6rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.3333333333em;
  font-weight: 600;
  position: absolute;
  top: 85px;
  left: 980px;
}
main .main-overlay .main-copy .bd-left {
  position: relative;
  padding-left: 8px;
  font-size: 19px;
  font-weight: 600;
  white-space: nowrap;
  letter-spacing: 0.1em;
}
main .main-overlay .main-copy .bd-left::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0.8px;
  background-color: #d92b44;
}
main .main-overlay .txt-v {
  writing-mode: vertical-rl;
}
main .main-overlay .main-img .img_pen {
  position: absolute;
  top: 10px;
  right: -40px;
}
main .main-overlay .main-img .img_akushu {
  position: absolute;
  top: 650px;
  left: 10px;
  z-index: 30;
}
main .main-overlay .main-img .akushu-bg {
  position: absolute;
  top: 650px;
  left: -2px;
}
main .main-overlay .circle {
  position: absolute;
  top: 270px;
  right: 130px;
  z-index: 10;
  display: flex;
  flex-direction: column;
}
main .main-overlay .circle .circle-img {
  position: relative;
  animation: spin 40s linear infinite;
  z-index: 5;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
main .main-overlay .circle .home-message {
  position: absolute;
  display: flex;
  gap: 16px;
  color: #000;
  font-size: 13px;
  font-weight: 550;
  z-index: 1;
  width: 500px;
  height: 500px;
  top: 350px;
  left: 160px;
}
main .main-overlay .circle .home-message .mg-img-wrap {
  position: absolute;
  top: 0px;
  right: 0px;
  align-items: center;
}
main .main-overlay .circle .home-message .mg-img {
  display: flex;
  align-items: center;
  position: absolute;
  top: -100px;
  left: -500px;
}
main .main-overlay .circle .home-message .horizontal-line {
  width: 320px;
  height: 1px;
  background-color: #d92b44;
  margin-left: 10px;
}
main .main-overlay .circle .home-message .ratio {
  text-orientation: upright;
}
main .main-overlay .circle .home-message .paragraph {
  top: 300px;
  right: 500px;
  font-size: 18px;
  writing-mode: vertical-rl;
  line-height: 2.2;
  letter-spacing: 0.3em;
}
main .main-overlay .circle .home-message .paragraph .message-main {
  color: #d92b44;
  letter-spacing: normal;
}

.home_people.bg-main.fit {
  width: 100%;
  height: 980px;
  padding-bottom: 12rem;
}

.home_people--heading {
  background: #d92b44;
  position: relative;
  display: flex;
  height: 250px;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-bottom: 2px solid #fff;
}
.home_people--heading .inner-lg {
  position: absolute;
  top: 60px;
  height: 180px;
  color: #fff;
  align-items: center;
  line-height: 1.5;
  text-align: justify;
  display: flex;
}
.home_people--heading .inner-lg .home_people--ttl {
  display: flex;
  color: #fff;
}
.home_people--heading .inner-lg .home_people--txt {
  position: relative;
  top: 20px;
  right: 10px;
  color: #fff;
  font-size: 16px;
  letter-spacing: 0.1em;
  font-weight: 300;
}
.home_people--heading .inner-lg .typesquare_option {
  position: relative;
  top: 70px;
  left: 100px;
}
.home_people--heading .inner-lg .typesquare_option .sub-message1 {
  display: block;
  font-size: 45px;
  letter-spacing: 0.1em;
  left: 5px;
}
.home_people--heading .inner-lg .typesquare_option .sub-message2 {
  display: block;
  font-size: 45px;
  letter-spacing: 0.1em;
  left: 5px;
}
.home_people--heading .inner-lg .lg {
  position: relative;
  top: 40px;
  left: 30px;
  font-size: 158px;
  white-space: nowrap;
  letter-spacing: 0.2em;
  font-family: "Noto Sans JP", sans-serif;
}

.home_people--slide {
  position: relative;
  display: flex;
  height: 400px;
  justify-content: center;
  align-items: center;
  padding-top: 6rem;
  padding-bottom: 14rem;
  color: #fff;
  border-bottom: 2px solid #fff;
}
.home_people--slide .slick-track {
  position: absolute;
  height: 400px;
  width: 100%;
  align-items: center;
  line-height: 1.5;
  text-align: justify;
  display: flex;
}
.home_people--slide .merit-post1 {
  position: absolute;
  left: 40px;
  display: block;
  margin: 0 3rem;
  width: 25rem;
  height: 400px;
  width: 350px;
}
.home_people--slide .number {
  display: block;
  position: absolute;
  top: 10px;
  color: #fff;
  font-size: 80px;
  font-weight: 100;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
}
.home_people--slide .image-area {
  position: absolute;
  left: 110px;
}
.home_people--slide .btn {
  position: absolute;
  top: 350px;
  left: 250px;
}
.home_people--slide .merit-text {
  position: absolute;
  top: 260px;
  left: -90px;
}
.home_people--slide .merit-text .merit-list1-1 {
  gap: 18px;
  color: #000;
  font-size: 20px;
  background-color: #fff;
  border-bottom: 2px solid #000;
  display: block;
  width: 350px;
  height: 30px;
  font-weight: 600;
  padding: 0.2em 0;
  background-color: #fffefe;
  text-align: center;
  white-space: nowrap;
  margin-bottom: 1em;
}
.home_people--slide .merit-text .merit-list1-2 {
  color: #000;
  font-size: 20px;
  background-color: #fff;
  border-bottom: 2px solid #000;
  display: block;
  width: 200px;
  height: 30px;
  font-weight: 600;
  padding: 0.2em 0;
  background-color: #fffefe;
  text-align: center;
  white-space: nowrap;
}
.home_people--slide .profile1 {
  position: relative;
  top: 390px;
  left: 20px;
  color: #fff;
  font-size: 15px;
  font-weight: 550;
  line-height: 1.4;
}
.home_people--slide .profile1 .initial {
  position: absolute;
  top: -8px;
}
.home_people--slide .profile1 .typesquare_option {
  position: absolute;
  top: 10px;
}
.home_people--slide .merit-post2 {
  position: absolute;
  left: 550px;
  display: block;
  margin: 0 3rem;
  width: 25rem;
  height: 400px;
  width: 350px;
}
.home_people--slide .number {
  display: block;
  position: absolute;
  top: 10px;
  color: #fff;
  font-size: 80px;
  font-weight: 100;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
}
.home_people--slide .image-area {
  position: absolute;
  left: 110px;
}
.home_people--slide .btn {
  position: absolute;
  top: 350px;
  left: 250px;
}
.home_people--slide .merit-list2-1 {
  gap: 18px;
  color: #000;
  font-size: 20px;
  background-color: #fff;
  border-bottom: 2px solid #000;
  display: block;
  width: 150px;
  height: 30px;
  font-weight: 600;
  padding: 0.2em 0;
  background-color: #fffefe;
  text-align: center;
  white-space: nowrap;
  margin-bottom: 1em;
}
.home_people--slide .merit-list2-2 {
  color: #000;
  font-size: 20px;
  background-color: #fff;
  border-bottom: 2px solid #000;
  display: block;
  width: 350px;
  height: 30px;
  font-weight: 600;
  padding: 0.2em 0;
  background-color: #fffefe;
  text-align: center;
  white-space: nowrap;
}

.profile2 {
  position: relative;
  top: 390px;
  left: 20px;
  color: #fff;
  font-size: 15px;
  font-weight: 550;
  line-height: 1.4;
}
.profile2 .initial {
  position: absolute;
  top: -8px;
}
.profile2 .typesquare_option {
  position: absolute;
  top: 10px;
}

.merit-post3 {
  position: absolute;
  left: 1080px;
  display: block;
  margin: 0 3rem;
  width: 25rem;
  height: 400px;
  width: 350px;
}

.number {
  display: block;
  position: absolute;
  top: 10px;
  color: #fff;
  font-size: 80px;
  font-weight: 100;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
}

.image-area {
  position: absolute;
  left: 110px;
}

.merit-list3-1 {
  gap: 18px;
  color: #000;
  font-size: 20px;
  background-color: #fff;
  border-bottom: 2px solid #000;
  display: block;
  width: 280px;
  height: 30px;
  font-weight: 600;
  padding: 0.2em 0;
  background-color: #fffefe;
  text-align: center;
  white-space: nowrap;
  margin-bottom: 1em;
}

.merit-list3-2 {
  color: #000;
  font-size: 20px;
  background-color: #fff;
  border-bottom: 2px solid #000;
  display: block;
  width: 230px;
  height: 30px;
  font-weight: 600;
  padding: 0.2em 0;
  background-color: #fffefe;
  text-align: center;
  white-space: nowrap;
}

.profile3 {
  position: relative;
  top: 390px;
  left: 20px;
  color: #fff;
  font-size: 15px;
  font-weight: 550;
  line-height: 1.4;
}
.profile3 .initial {
  position: absolute;
  top: -8px;
}
.profile3 .typesquare_option {
  position: absolute;
  top: 10px;
}

.merit-post4 {
  position: absolute;
  left: 1040px;
  display: block;
  margin: 0 3rem;
  width: 25rem;
  height: 400px;
  width: 350px;
}

.number {
  display: block;
  position: absolute;
  top: 10px;
  color: #fff;
  font-size: 80px;
  font-weight: 100;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
}

.image-area {
  position: absolute;
  left: 110px;
}

.btn {
  position: absolute;
  top: 350px;
  left: 250px;
}

.merit-text {
  position: absolute;
  top: 260px;
  left: -90px;
}
.merit-text .merit-list4-1 {
  gap: 18px;
  color: #000;
  font-size: 20px;
  background-color: #fff;
  border-bottom: 2px solid #000;
  display: block;
  width: 150px;
  height: 30px;
  font-weight: 600;
  padding: 0.2em 0;
  background-color: #fffefe;
  text-align: center;
  white-space: nowrap;
  margin-bottom: 1em;
}
.merit-text .merit-list4-2 {
  color: #000;
  font-size: 20px;
  background-color: #fff;
  border-bottom: 2px solid #000;
  display: block;
  width: 330px;
  height: 30px;
  font-weight: 600;
  padding: 0.2em 0;
  background-color: #fffefe;
  text-align: center;
  white-space: nowrap;
}

.profile4 {
  position: relative;
  top: 390px;
  left: 20px;
  color: #fff;
  font-size: 15px;
  font-weight: 550;
  line-height: 1.4;
}
.profile4 .initial {
  position: absolute;
  top: -8px;
}
.profile4 .typesquare_option {
  position: absolute;
  top: 10px;
}

.merit-post5 {
  position: absolute;
  left: 1540px;
  display: block;
  margin: 0 3rem;
  width: 25rem;
  height: 400px;
  width: 350px;
}

.number {
  display: block;
  position: absolute;
  top: 10px;
  color: #fff;
  font-size: 80px;
  font-weight: 100;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
}

.image-area {
  position: absolute;
  left: 110px;
}

.btn {
  position: absolute;
  top: 350px;
  left: 250px;
}

.merit-text {
  position: absolute;
  top: 260px;
  left: -90px;
}
.merit-text .merit-list5-1 {
  gap: 18px;
  color: #000;
  font-size: 20px;
  background-color: #fff;
  border-bottom: 2px solid #000;
  display: block;
  width: 250px;
  height: 30px;
  font-weight: 600;
  padding: 0.2em 0;
  background-color: #fffefe;
  text-align: center;
  white-space: nowrap;
  margin-bottom: 1em;
}
.merit-text .merit-list5-2 {
  color: #000;
  font-size: 20px;
  background-color: #fff;
  border-bottom: 2px solid #000;
  display: block;
  width: 350px;
  height: 30px;
  font-weight: 600;
  padding: 0.2em 0;
  background-color: #fffefe;
  text-align: center;
  white-space: nowrap;
}

.profile5 {
  position: relative;
  top: 390px;
  left: 20px;
  color: #fff;
  font-size: 15px;
  font-weight: 550;
  line-height: 1.4;
}
.profile5 .initial {
  position: absolute;
  top: -8px;
}
.profile5 .typesquare_option {
  position: absolute;
  top: 10px;
}

.merit-post6 {
  position: absolute;
  left: 1650px;
  display: block;
  margin: 0 3rem;
  width: 25rem;
  height: 400px;
  width: 350px;
}

.number {
  display: block;
  position: absolute;
  top: 10px;
  color: #fff;
  font-size: 80px;
  font-weight: 100;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
}

.image-area {
  position: absolute;
  left: 110px;
}

.btn {
  position: absolute;
  top: 350px;
  left: 250px;
}

.merit-text {
  position: absolute;
  top: 260px;
  left: -90px;
}
.merit-text .merit-list6-1 {
  gap: 18px;
  color: #000;
  font-size: 20px;
  background-color: #fff;
  border-bottom: 2px solid #000;
  display: block;
  width: 330px;
  height: 30px;
  font-weight: 600;
  padding: 0.2em 0;
  background-color: #fffefe;
  text-align: center;
  white-space: nowrap;
  margin-bottom: 1em;
}
.merit-text .merit-list6-2 {
  color: #000;
  font-size: 20px;
  background-color: #fff;
  border-bottom: 2px solid #000;
  display: block;
  width: 230px;
  height: 30px;
  font-weight: 600;
  padding: 0.2em 0;
  background-color: #fffefe;
  text-align: center;
  white-space: nowrap;
}

.profile6 {
  position: relative;
  top: 390px;
  left: 20px;
  color: #fff;
  font-size: 15px;
  font-weight: 550;
  line-height: 1.4;
}
.profile6 .initial {
  position: absolute;
  top: -8px;
}
.profile6 .typesquare_option {
  position: absolute;
  top: 10px;
}

.btn-ctr {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  top: 420px;
}

.btn-ctr a {
  display: flex;
  justify-content: center;
  color: #d92b44;
  font-size: 14px;
  font-weight: 600;
  border-color: #fff;
  letter-spacing: 0.05em;
  padding: 1.1em 1em;
  width: 150px;
  height: 18px;
  border-radius: 0.2rem;
  overflow: hidden;
  background-color: #fff;
  text-decoration: none;
}

.transparent-zone {
  position: relative;
  width: 100%;
  height: 900px;
  background-color: rgba(0, 0, 0, 0.5);
}
.transparent-zone .inner_t-logo {
  position: absolute;
  top: 300px;
  left: 420px;
}
.transparent-zone .isnow {
  position: absolute;
  top: 450px;
  right: 500px;
}
.transparent-zone .inner__transparency {
  position: relative;
  top: 400px;
  display: flex;
  height: 180px;
  width: auto;
  justify-content: center;
  align-items: center;
  margin: 0 80px;
}
.transparent-zone .inner__transparency .inner_t {
  position: relative;
  height: 180px;
  width: 100%;
  color: #fff;
  align-items: center;
  line-height: 1.5;
  text-align: justify;
  padding-left: 200px;
}
.transparent-zone .inner__transparency .inner_t .sp-none-inline {
  color: #fff;
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 600;
  display: inline-block;
}
.transparent-zone .inner__transparency .inner_t .sp-none-inline .logo_transparent {
  vertical-align: middle;
}
.transparent-zone .inner__transparency .inner_t .sp-none-inline .de {
  font-size: 60px;
  vertical-align: middle;
}
.transparent-zone .inner__transparency .inner_t .sp-none-inline .tiiki {
  font-size: 90px;
  vertical-align: middle;
}
.transparent-zone .inner__transparency .inner_t .sp-none-inline .no {
  font-size: 50px;
  vertical-align: middle;
}
.transparent-zone .inner__transparency .inner_t .sp-none-inline .mirai {
  color: #DB4D44;
  font-size: 105px;
  vertical-align: middle;
}
.transparent-zone .inner__transparency .inner_t .sp-none-inline .wo {
  font-size: 50px;
  vertical-align: middle;
}
.transparent-zone .inner__transparency .inner_t .sp-none-inline .ugo {
  font-size: 90px;
  vertical-align: middle;
}
.transparent-zone .inner__transparency .inner_t .sp-none-inline .kasou {
  font-size: 75px;
  vertical-align: middle;
}

.requirements {
  position: relative;
  background: #d92b44;
  height: auto;
  font-size: 45px;
  overflow: hidden;
  padding-top: 50px;
  width: 100%;
  max-width: 100%;
  z-index: 1;
}
.requirements-overlay {
  position: relative;
  margin-left: 55px;
  margin-right: 55px;
  background-color: #fbf9f3;
  height: 1400px;
}
.requirements-overlay .inner_list {
  padding-top: 9rem;
  padding-bottom: 9rem;
}
.requirements-overlay .inner_list .inner-lg2 {
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  height: 400px;
}
.requirements-overlay .inner_list .inner-lg2 .offering_essential_point {
  position: relative;
  letter-spacing: 0.3em;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.requirements-overlay .inner_list .inner-lg2 .offering_essential_point::before, .requirements-overlay .inner_list .inner-lg2 .offering_essential_point::after {
  content: "";
  position: absolute;
  width: 40rem;
  height: 0.0625rem;
  background-color: #DD5B60;
}
.requirements-overlay .inner_list .inner-lg2 .offering_essential_point::before {
  left: 0;
  transform: translate(0, 50%);
}
.requirements-overlay .inner_list .inner-lg2 .offering_essential_point::after {
  right: 0;
  transform: translate(0, 50%);
}
.requirements-overlay .inner_list .requirements--list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
}
.requirements-overlay .inner_list .requirements--list .requirement-item {
  list-style: none;
}
.requirements-overlay .inner_list .requirements--list .requirement-item .img-wrap {
  position: relative;
  display: inline-block;
}
.requirements-overlay .inner_list .requirements--list .requirement-item .img-wrap img {
  width: 100%;
  height: auto;
  display: block;
}
.requirements-overlay .inner_list .requirements--list .requirement-item .img-wrap .title-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #000;
  font-weight: bold;
  text-align: center;
}
.requirements-overlay .inner_list .requirements--list .requirement-item .img-wrap .font_new-graduates,
.requirements-overlay .inner_list .requirements--list .requirement-item .img-wrap .font_career {
  display: block;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 600;
  font-size: 3rem;
  letter-spacing: 0.3em;
  width: fit-content;
  border-bottom: 4px solid #000;
  padding-bottom: 0.2em;
}
.requirements-overlay .inner_list .requirements--list .requirement-item .img-wrap .font-en_ng {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  padding-top: 0.1em;
}

.cta {
  display: block;
  height: 50rem;
}

/*# sourceMappingURL=main.css.map */
