@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

.header {
  position: relative;
  background: #d92b44;
  height: auto;
  font-size: 45px;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  z-index: 1;
}
.header-overlay {
  position: relative;
  margin-left: 55px;
  margin-right: 55px;
  background-color: #fbf9f3;
  height: 1100px;
}
.header-overlay .moji {
  z-index: 10;
  color: #d92b44;
  font-family: "Montserrat", sans-serif;
}
.header-overlay .moji span {
  position: absolute;
  font-size: 200px;
  font-weight: 600;
}
.header-overlay .moji .s1 {
  font-size: 330px;
  font-weight: 600;
  top: 150px;
  left: 180px;
}
.header-overlay .moji .h1 {
  font-size: 320px;
  font-weight: 600;
  top: 280px;
  left: 430px;
}
.header-overlay .moji .o {
  font-size: 320px;
  font-weight: 600;
  top: 170px;
  left: 740px;
}
.header-overlay .moji .s2 {
  font-size: 330px;
  font-weight: 600;
  top: 550px;
  left: 840px;
}
.header-overlay .moji .h2 {
  font-size: 330px;
  font-weight: 600;
  top: 700px;
  right: 620px;
}
.header-overlay .moji .i {
  font-size: 330px;
  font-weight: 600;
  top: 580px;
  right: 470px;
}
.header-overlay .moji .n {
  font-size: 330px;
  font-weight: 600;
  top: 480px;
  right: 95px;
}

.header-logo {
  position: fixed;
  top: -40px;
  left: 100px;
  z-index: 10;
  margin-right: 10px;
}

.future-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
}

.font-en {
  font-size: 18px;
  font-weight: 1000;
  letter-spacing: 0.05em;
  white-space: nowrap;
  position: fixed;
  top: 100px;
  left: 440px;
  z-index: 10;
}

.logo-static {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* 画面いっぱい */
  color: #d92b44;
  z-index: 10;
}

.logo-static svg {
  max-width: 80%;
  height: auto;
}

.header_img-hero .header_img {
  position: absolute;
  display: block;
  top: 220px;
  left: 290px;
}
.header_img-hero .header_img_clip {
  position: absolute;
  display: block;
  top: 920px;
  right: 430px;
}
.header_img-hero .hero-image1 {
  position: absolute;
  top: 380px;
  left: 110px;
}
.header_img-hero .hero-image2 {
  position: absolute;
  top: 580px;
  left: 360px;
}
.header_img-hero .hero-image3 {
  position: absolute;
  top: 390px;
  left: 580px;
}
.header_img-hero .hero-image4 {
  position: absolute;
  top: 380px;
  right: 950px;
}
.header_img-hero .hero-image5 {
  position: absolute;
  top: 170px;
  right: 570px;
}
.header_img-hero .hero-image6 {
  position: absolute;
  top: 410px;
  right: 320px;
}

.hero {
  color: #000;
  z-index: 10;
}
.hero .txt {
  position: absolute;
  top: 250px;
  right: 200px;
  font-size: 15px;
  font-weight: 900;
  letter-spacing: 0.1em;
}
.hero .hero--recruitment {
  position: absolute;
  font-weight: 100;
  font-size: 35px;
  letter-spacing: 0.1em;
  top: 280px;
  right: 190px;
}

.copyright {
  writing-mode: vertical-rl;
  position: fixed;
  color: #fff;
  font-size: 15px;
  flex-direction: column;
  top: 350px;
  left: 14px;
  z-index: 10;
  font-weight: 600;
  letter-spacing: 0.1em;
}

.wrapper-news {
  display: flex;
  position: absolute;
  top: 980px;
  left: 160px;
}
.wrapper-news .home_news {
  height: 50px;
  width: 130px;
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 16px;
  font-weight: 800;
  background-color: #d92b44;
  align-items: center;
  border-radius: 200px;
  letter-spacing: 0.2em;
  z-index: 10;
}
.wrapper-news .news_list {
  display: flex;
  height: 50px;
  width: 600px;
  justify-content: center;
  color: #000;
  font-size: 12px;
  font-weight: 800;
  background-color: #ffedef;
  align-items: center;
  border-radius: 200px;
  letter-spacing: 0.3em;
}

.footer {
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 0;
  left: 0;
  z-index: 9999;
  background: #fff;
  width: 100%;
  height: 233px;
  color: #000;
  border: 3px solid #000;
}
.footer .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
}
.footer .footer-info {
  flex-direction: column;
  align-items: flex-start;
}
.footer .logo {
  height: 24px;
  width: 267px;
  margin-top: 30px;
  margin-bottom: 40px;
  margin-left: 10px;
  margin-right: 10px;
}
.footer .address {
  font-size: 15px;
  font-weight: 300;
}
.footer-nav {
  position: absolute;
  left: 530px;
  right: 75px;
}
.footer-nav ul {
  display: flex;
  align-items: center;
  height: auto;
  width: 100%;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}
.footer-nav ul li {
  font-size: 15px;
  white-space: nowrap;
  text-align: center;
  margin-right: 45px;
  list-style: none;
  font-weight: bold;
  margin-top: 5px;
}
.footer-nav ul li a {
  color: black;
  text-decoration: underline;
}
.footer-page-top {
  background: black;
  color: #fff;
  font-size: 40px;
  left: 200px;
  top: 60px;
  width: 280px;
  margin-left: auto;
  align-items: center;
  display: flex;
  justify-content: center;
  font-weight: 300;
  flex-direction: column;
}
.footer-page-top::before {
  content: "";
  display: block;
  width: 1rem;
  height: 1rem;
  background: #fff;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

.fz-18 {
  font-size: 1.125rem;
}

.deco-frame {
  display: flex;
  position: fixed;
  top: 0;
  height: 3.125rem;
  left: 0;
  right: 17px;
  overflow: hidden;
  background-color: #d92b44;
  z-index: 10;
  align-items: center;
}
.deco-frame ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.deco-frame ul li {
  color: #fff;
  list-style: none;
  letter-spacing: 8.6px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  padding: 0 0.5rem;
  display: inline-block;
  white-space: nowrap;
  animation: marquee-left 64s linear infinite;
}
.deco-frame ul li span {
  font-weight: 600;
}

@keyframes marquee-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100vw);
  }
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #d92b44;
}

.transparent-zone {
  height: 100vh;
  background-color: transparent;
}

main .main-overlay {
  position: relative;
  margin-left: 55px;
  margin-right: 55px;
  height: 1550px;
  background-color: #ddffff;
}
main .main-overlay .main-copy {
  z-index: 2;
  text-align: left;
  transform: scale(1.2);
  left: 70px;
  height: 235px;
}
main .main-overlay .main-copy .main-copy__inner {
  padding: 0;
  width: 530px;
  position: absolute;
  top: 100px;
  left: 300px;
}
main .main-overlay .main-copy .main-copy__line {
  display: block;
  width: 480px;
  height: 90px;
  line-height: 90px;
  padding-top: 0.2em;
  margin-bottom: 1.5em;
  padding: 0.1em 0.4em;
  background-color: #fffefe;
  font-weight: 600;
  text-align: left;
  color: #000;
  border-bottom: 3px solid #000;
  white-space: nowrap;
}
main .main-overlay .main-copy .chiiki_ugo_kinyuu {
  font-size: 80px;
  letter-spacing: 0.1em;
}
main .main-overlay .main-copy .keizai_kasu {
  font-size: 65px;
  letter-spacing: 0.1em;
}
main .main-overlay .main-copy .wo {
  font-size: 35px;
}
main .main-overlay .main-copy .main-copy__catch {
  display: inline-block;
  width: 700px;
  height: 100px;
  line-height: 100px;
  padding-top: 0.2em;
  letter-spacing: 0.1em;
  font-weight: 600;
  padding: 0.1em;
  background-color: #fffefe;
  text-align: left;
  font-size: 100px;
  color: #000;
  border-bottom: 3px solid #000;
  white-space: nowrap;
}
main .main-overlay .main-copy .main-message--en-v {
  margin-top: 2.5rem;
  margin-left: -6rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.3333333333em;
  font-weight: 600;
  position: absolute;
  top: 85px;
  left: 980px;
}
main .main-overlay .main-copy .bd-left {
  padding-left: 8px;
  font-size: 19px;
  font-weight: 600;
  white-space: nowrap;
  letter-spacing: 0.1em;
}
main .main-overlay .main-copy .bd-left::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: #d92b44;
}
main .main-overlay .txt-v {
  writing-mode: vertical-rl;
}
main .main-overlay .main-img .img_pen {
  position: absolute;
  top: 10px;
  right: -40px;
}
main .main-overlay .main-img .img_akushu {
  position: absolute;
  top: 650px;
  left: 10px;
  z-index: 30;
}
main .main-overlay .main-img .akushu-bg {
  position: absolute;
  top: 650px;
  left: -2px;
}
main .main-overlay .circle {
  position: absolute;
  top: 270px;
  right: 130px;
  z-index: 10;
  display: flex;
  flex-direction: column;
}
main .main-overlay .home-message {
  display: flex;
  gap: 16px;
  color: #000;
  font-size: 13px;
  font-weight: 550;
  z-index: 1;
  top: 500px;
}
main .main-overlay .home-message .mg-img-wrap {
  position: absolute;
  top: 500px;
  right: 380px;
  align-items: center;
}
main .main-overlay .home-message .mg-img {
  display: flex;
  align-items: center;
}
main .main-overlay .home-message .horizontal-line {
  width: 320px;
  height: 1px;
  background-color: #d92b44;
  margin-left: 10px;
}
main .main-overlay .home-message .paragraph {
  top: 500px;
  right: 600px;
  font-size: 18px;
  writing-mode: vertical-rl;
  line-height: 2.2;
  letter-spacing: 0.3em;
}
main .main-overlay .home-message .ratio {
  text-orientation: upright;
}
main .main-overlay .home-message .message-main {
  color: #d92b44;
  letter-spacing: normal;
}

.home_people--heading {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.home_people--heading .inner-lg {
  position: absolute;
  top: 60px;
  color: #fff;
  align-items: center;
  line-height: 1.5;
  text-align: justify;
  display: flex;
}
.home_people--heading .inner-lg .home_people--ttl {
  display: flex;
  color: #fff;
}
.home_people--heading .inner-lg .home_people--txt {
  color: #fff;
  font-size: 15px;
  letter-spacing: 0.1em;
  font-weight: 300;
}
.home_people--heading .inner-lg .typesquare_option .sub-message1 {
  display: block;
  font-size: 28px;
  letter-spacing: 0.3em;
  left: 5px;
}
.home_people--heading .inner-lg .typesquare_option .sub-message2 {
  display: block;
  font-size: 28px;
  letter-spacing: 0.3em;
  left: 5px;
}
.home_people--heading .inner-lg .lg {
  font-size: 120px;
  white-space: nowrap;
}

.home_people--slide {
  position: relative;
  padding-top: 1000px;
  padding-bottom: 3.5rem;
  z-index: 60;
  margin-top: 1380px;
}
.home_people--slide .merit-post {
  display: flex;
  flex-direction: column;
  align-items: left;
}
.home_people--slide .number {
  display: block;
  position: absolute;
  left: 20px;
  top: 110px;
  color: #fff;
  font-size: 50px;
  font-weight: 100;
}
.home_people--slide .arrow-btn {
  display: inline-block;
  position: absolute;
  top: 250px;
  left: 170px;
  color: #000;
  font-size: 30px;
  font-weight: 600;
  background-color: #fff;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  text-align: center;
  line-height: 45px;
}
.home_people--slide .image-area {
  position: absolute;
  left: 110px;
}
.home_people--slide .merit-list {
  position: absolute;
  gap: 18px;
  top: 165px;
  left: -90px;
  color: #000;
  font-size: 15px;
  background-color: #fff;
  border-bottom: 2px solid #000;
  display: block;
  width: 280px;
  height: 17px;
  font-weight: 600;
  padding: 0.2em 0;
  background-color: #fffefe;
  text-align: center;
  margin-bottom: 1em;
}
.home_people--slide .merit-list2 {
  position: absolute;
  top: 200px;
  left: -90px;
  color: #000;
  font-size: 15px;
  background-color: #fff;
  border-bottom: 2px solid #000;
  display: block;
  width: 160px;
  height: 17px;
  font-weight: 600;
  padding: 0.2em 0;
  background-color: #fffefe;
  text-align: center;
}
.home_people--slide .profile {
  position: absolute;
  top: 330px;
  left: 20px;
  color: #fff;
  font-size: 12px;
  font-weight: 550;
  line-height: 1.4;
}
.home_people--slide .btn-ctr {
  margin-left: auto;
  margin-right: auto;
}
.home_people--slide a {
  position: relative;
  display: flex;
  justify-content: center;
  color: #d92b44;
  font-size: 14px;
  font-weight: 600;
  border-color: #fff;
  letter-spacing: 0.05em;
  padding: 1.1em 1em;
  width: 150px;
  height: 18px;
  border-radius: 0.2rem;
  z-index: 1;
  overflow: hidden;
  background-color: #fff;
  text-decoration: none;
  top: 385px;
  left: 600px;
}

/*# sourceMappingURL=main.css.map */
