@use "base/reset";
@use "layout/header";
@use "layout/footer";
@use "pages/home";
@use "settings/variables";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  // background-color: #d92b44;
  width: 100%;
  overflow-x: hidden;
}

.fz-18 {
  font-size: 1.125rem; // = 18px
}

.deco-frame {
  display: flex;
  position: fixed;
  top: 0;
  height: 3.125rem;
  left: 0;
  right: 17px;
  overflow: hidden; // 要素からはみ出した部分を隠す これが無いと最上部のヘッダーがスクロールバーの上に表示されてしまう
  background-color: #d92b44;
  z-index: 10;
  align-items: center;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;

    li {
      color: #fff;
      list-style: none;
      // letter-spacing: 0.2em;
      letter-spacing: 8.6px;
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      padding: 0 0.5rem;
      display: inline-block;
      white-space: nowrap;
      animation: marquee-left 64s linear infinite; // 64秒で左から右へスクロール

      span {
        font-weight: 600;
      }
    }
  }
}

// 左から右へスクロール
@keyframes marquee-left {
  0% {
    transform: translateX(0);
    // opacity: 1; // 初期状態 不透明
  }

  100% {
    transform: translateX(-100vw);
    // opacity: 0; // 最終状態 透明
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #d92b44;
  position: relative;

  .bg-clip {
    position: absolute;
    top: 2570px;
  }

  .eraser {
    position: absolute;
    top: 2500px;
    right: 0;
  }
}


.transparent-zone {
  height: 100vh;
  background-color: transparent;
}

main {

  .main-overlay {
    position: relative;
    margin-left: 55px;
    margin-right: 55px;
    height: 1550px;
    background-color: #fbf9f3;

    .main-copy {
      z-index: 2;
      text-align: left;
      transform: scale(1.2); // 👈 1.2倍に拡大
      // background-color: rgba(255, 0, 0, 0.2);
      // position: relative;
      left: 70px;
      height: 235px;

      .main-copy__inner {
        padding: 0;
        // margin-left: -120px;
        // margin-bottom: -80px;
        // margin-right: 60
        width: 530px;
        position: absolute;
        top: 100px;
        left: 300px;
      }

      .main-copy__line {
        display: block;
        width: 480px;
        height: 90px;
        line-height: 90px;
        padding-top: 0.2em;
        margin-bottom: 1.5em;
        padding: 0.1em 0.4em;
        background-color: #fffefe;
        font-weight: 600;
        text-align: left;
        color: #000;
        border-bottom: 3px solid #000;
        white-space: nowrap;
      }

      .chiiki_ugo_kinyuu {
        font-size: 80px;
        letter-spacing: 0.1em;
      }

      .keizai_kasu {
        font-size: 65px;
        letter-spacing: 0.1em;
      }

      .wo {
        font-size: 35px;
      }

      .main-copy__catch {
        display: inline-block;
        width: 700px;
        height: 100px;
        line-height: 100px;
        padding-top: 0.2em;
        letter-spacing: 0.1em;
        font-weight: 600;
        padding: 0.1em;
        background-color: #fffefe;
        text-align: left;
        font-size: 100px;
        color: #000;
        border-bottom: 3px solid #000;
        white-space: nowrap;
      }

      .main-message--en-v {
        margin-top: 2.5rem;
        margin-left: -6rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.3333333333em;
        font-weight: 600;
        position: absolute;
        top: 85px;
        left: 980px;
      }

      .bd-left {
        position: relative;
        padding-left: 8px; // 線との余白
        font-size: 19px;
        font-weight: 600;
        white-space: nowrap;
        letter-spacing: 0.1em;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          width: 0.8px;
          background-color: #d92b44;
        }
      }
    }

    .txt-v {
      writing-mode: vertical-rl;
      // font-feature-settings: "pkna";
    }

    .main-img {
      // position: relative;

      .img_pen {
        position: absolute;
        top: 10px;
        right: -40px;
      }

      .img_akushu {
        position: absolute;
        top: 650px;
        left: 10px;
        z-index: 30;
      }

      .akushu-bg {
        position: absolute;
        top: 650px;
        left: -2px;
      }
    }

    .circle {
      position: absolute;
      top: 270px;
      right: 130px;
      z-index: 10;
      display: flex;
      flex-direction: column;

      .home-message {
        position: absolute;
        display: flex;
        // flex-direction: column;
        gap: 16px;
        color: #000;
        font-size: 13px;
        font-weight: 550;
        z-index: 1;
        width: 500px;
        height: 500px;
        top: 350px;
        left: 160px;

        .mg-img-wrap {
          position: absolute;
          top: 0px;
          right: 0px;
          // display: flex;
          align-items: center;
        }

        .mg-img {
          display: flex;
          align-items: center;
          position: absolute;
          top: -100px;
          left: -500px;
        }

        .horizontal-line {
          width: 320px;
          height: 1px;
          background-color: #d92b44;
          margin-left: 10px;
        }

        .ratio {
          text-orientation: upright;
        }

        .paragraph {
          // position: re;
          top: 300px;
          right: 500px;
          font-size: 18px;
          writing-mode: vertical-rl;
          line-height: 2.2;
          letter-spacing: 0.3em;

          .message-main {
            color: #d92b44;
            letter-spacing: normal;
          }
        }
      }
    }


  }

  //main-overlay
}

.home_people.bg-main.fit {
  width: 100%;
  height: 980px;
  padding-bottom: 12rem;
  // background-color: #d92b44;
}

.home_people--heading {
  position: relative;
  display: flex;
  height: 250px;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-bottom: 2px solid #fff;

  .inner-lg {
    position: absolute;
    top: 60px;
    height: 180px;
    color: #fff;
    align-items: center;
    line-height: 1.5;
    text-align: justify;
    display: flex;

    .home_people--ttl {
      display: flex;
      color: #fff;
      // margin-top: 100px;
      // left: 30px;
    }

    .home_people--txt {
      position: relative;
      top: 20px;
      right: 10px;
      color: #fff;
      font-size: 16px;
      letter-spacing: 0.1em;
      font-weight: 300;
    }

    .typesquare_option {
      position: relative;
      top: 70px;
      left: 100px;

      .sub-message1 {
        display: block;
        font-size: 45px;
        letter-spacing: 0.1em;
        left: 5px;
        // margin-left: 95px;
      }

      .sub-message2 {
        display: block;
        font-size: 45px;
        letter-spacing: 0.1em;
        left: 5px;
        // margin-left: 95px;
      }
    }


    .lg {
      position: relative;
      top: 40px;
      left: 30px;
      font-size: 158px;
      white-space: nowrap;
      letter-spacing: 0.2em;
      font-family: 'Noto Sans JP', sans-serif;
    }
  }
}

.home_people--slide {
  position: relative;
  display: flex;
  height: 400px;
  justify-content: center;
  align-items: center;
  padding-top: 6rem;
  padding-bottom: 14rem;
  color: #fff;
  border-bottom: 2px solid #fff;

  .slick-track {
    position: absolute;
    height: 400px;
    width: 100%;
    align-items: center;
    line-height: 1.5;
    text-align: justify;
    display: flex;
  }

  .merit-post1 {
    position: absolute;
    left: 40px;
    display: block;
    margin: 0 3rem;
    width: 25rem;
    height: 400px;
    width: 350px;
  }

  .number {
    display: block;
    position: absolute;
    top: 10px;
    color: #fff;
    font-size: 80px;
    font-weight: 100;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
  }

  .image-area {
    position: absolute;
    left: 110px;
  }

  .btn {
    position: absolute;
    top: 350px;
    left: 250px;
  }

  .merit-text {
    position: absolute;
    top: 260px;
    left: -90px;

    .merit-list1-1 {
      gap: 18px;
      color: #000;
      font-size: 20px;
      background-color: #fff;
      border-bottom: 2px solid #000;
      display: block;
      width: 350px;
      height: 30px;
      //letter-spacing: 0.1em;
      font-weight: 600;
      padding: 0.2em 0;
      background-color: #fffefe;
      text-align: center;
      white-space: nowrap;
      margin-bottom: 1em;
    }

    .merit-list1-2 {
      color: #000;
      font-size: 20px;
      background-color: #fff;
      border-bottom: 2px solid #000;
      display: block;
      width: 200px;
      height: 30px;
      //letter-spacing: 0.1em;
      font-weight: 600;
      padding: 0.2em 0;
      background-color: #fffefe;
      text-align: center;
      white-space: nowrap;
    }
  }

  .profile1 {
    position: relative;
    top: 390px;
    left: 20px;
    color: #fff;
    font-size: 15px;
    font-weight: 550;
    line-height: 1.4;

    .initial {
      position: absolute;
      top: -8px;
    }

    .typesquare_option {
      position: absolute;
      top: 10px;
    }
  }

  .merit-post2 {
    position: absolute;
    left: 550px;
    display: block;
    margin: 0 3rem;
    width: 25rem;
    height: 400px;
    width: 350px;
  }

  .number {
    display: block;
    position: absolute;
    top: 10px;
    color: #fff;
    font-size: 80px;
    font-weight: 100;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
  }

  .image-area {
    position: absolute;
    left: 110px;
  }

  .btn {
    position: absolute;
    top: 350px;
    left: 250px;
  }

  // .merit-text {
  //   position: absolute;
  //   top: 200px;
  //   left: -90px;

  .merit-list2-1 {
    gap: 18px;
    color: #000;
    font-size: 20px;
    background-color: #fff;
    border-bottom: 2px solid #000;
    display: block;
    width: 150px;
    height: 30px;
    //letter-spacing: 0.1em;
    font-weight: 600;
    padding: 0.2em 0;
    background-color: #fffefe;
    text-align: center;
    white-space: nowrap;
    margin-bottom: 1em;
  }

  .merit-list2-2 {
    color: #000;
    font-size: 20px;
    background-color: #fff;
    border-bottom: 2px solid #000;
    display: block;
    width: 350px;
    height: 30px;
    //letter-spacing: 0.1em;
    font-weight: 600;
    padding: 0.2em 0;
    background-color: #fffefe;
    text-align: center;
    white-space: nowrap;
  }
}

.profile2 {
  position: relative;
  top: 390px;
  left: 20px;
  color: #fff;
  font-size: 15px;
  font-weight: 550;
  line-height: 1.4;

  .initial {
    position: absolute;
    top: -8px;
  }

  .typesquare_option {
    position: absolute;
    top: 10px;
  }
}

.merit-post3 {
  position: absolute;
  left: 1080px;
  display: block;
  margin: 0 3rem;
  width: 25rem;
  height: 400px;
  width: 350px;
}

.number {
  display: block;
  position: absolute;
  top: 10px;
  color: #fff;
  font-size: 80px;
  font-weight: 100;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
}

.image-area {
  position: absolute;
  left: 110px;
}

// .merit-text {
//   position: absolute;
//   top: 200px;
//   left: -90px;

.merit-list3-1 {
  gap: 18px;
  color: #000;
  font-size: 20px;
  background-color: #fff;
  border-bottom: 2px solid #000;
  display: block;
  width: 280px;
  height: 30px;
  //letter-spacing: 0.1em;
  font-weight: 600;
  padding: 0.2em 0;
  background-color: #fffefe;
  text-align: center;
  white-space: nowrap;
  margin-bottom: 1em;
}

.merit-list3-2 {
  color: #000;
  font-size: 20px;
  background-color: #fff;
  border-bottom: 2px solid #000;
  display: block;
  width: 230px;
  height: 30px;
  //letter-spacing: 0.1em;
  font-weight: 600;
  padding: 0.2em 0;
  background-color: #fffefe;
  text-align: center;
  white-space: nowrap;
}

.profile3 {
  position: relative;
  top: 390px;
  left: 20px;
  color: #fff;
  font-size: 15px;
  font-weight: 550;
  line-height: 1.4;

  .initial {
    position: absolute;
    top: -8px;
  }

  .typesquare_option {
    position: absolute;
    top: 10px;
  }
}

.merit-post4 {
  position: absolute;
  left: 1040px;
  display: block;
  margin: 0 3rem;
  width: 25rem;
  height: 400px;
  width: 350px;
}

.number {
  display: block;
  position: absolute;
  top: 10px;
  color: #fff;
  font-size: 80px;
  font-weight: 100;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
}

.image-area {
  position: absolute;
  left: 110px;
}

.btn {
  position: absolute;
  top: 350px;
  left: 250px;
}

.merit-text {
  position: absolute;
  top: 260px;
  left: -90px;

  .merit-list4-1 {
    gap: 18px;
    color: #000;
    font-size: 20px;
    background-color: #fff;
    border-bottom: 2px solid #000;
    display: block;
    width: 150px;
    height: 30px;
    //letter-spacing: 0.1em;
    font-weight: 600;
    padding: 0.2em 0;
    background-color: #fffefe;
    text-align: center;
    white-space: nowrap;
    margin-bottom: 1em;
  }

  .merit-list4-2 {
    color: #000;
    font-size: 20px;
    background-color: #fff;
    border-bottom: 2px solid #000;
    display: block;
    width: 330px;
    height: 30px;
    //letter-spacing: 0.1em;
    font-weight: 600;
    padding: 0.2em 0;
    background-color: #fffefe;
    text-align: center;
    white-space: nowrap;
  }
}

.profile4 {
  position: relative;
  top: 390px;
  left: 20px;
  color: #fff;
  font-size: 15px;
  font-weight: 550;
  line-height: 1.4;

  .initial {
    position: absolute;
    top: -8px;
  }

  .typesquare_option {
    position: absolute;
    top: 10px;
  }
}

.merit-post5 {
  position: absolute;
  left: 1540px;
  display: block;
  margin: 0 3rem;
  width: 25rem;
  height: 400px;
  width: 350px;
}

.number {
  display: block;
  position: absolute;
  top: 10px;
  color: #fff;
  font-size: 80px;
  font-weight: 100;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
}

.image-area {
  position: absolute;
  left: 110px;
}

.btn {
  position: absolute;
  top: 350px;
  left: 250px;
}

.merit-text {
  position: absolute;
  top: 260px;
  left: -90px;

  .merit-list5-1 {
    gap: 18px;
    color: #000;
    font-size: 20px;
    background-color: #fff;
    border-bottom: 2px solid #000;
    display: block;
    width: 250px;
    height: 30px;
    //letter-spacing: 0.1em;
    font-weight: 600;
    padding: 0.2em 0;
    background-color: #fffefe;
    text-align: center;
    white-space: nowrap;
    margin-bottom: 1em;
  }

  .merit-list5-2 {
    color: #000;
    font-size: 20px;
    background-color: #fff;
    border-bottom: 2px solid #000;
    display: block;
    width: 350px;
    height: 30px;
    //letter-spacing: 0.1em;
    font-weight: 600;
    padding: 0.2em 0;
    background-color: #fffefe;
    text-align: center;
    white-space: nowrap;
  }
}

.profile5 {
  position: relative;
  top: 390px;
  left: 20px;
  color: #fff;
  font-size: 15px;
  font-weight: 550;
  line-height: 1.4;

  .initial {
    position: absolute;
    top: -8px;
  }

  .typesquare_option {
    position: absolute;
    top: 10px;
  }
}

.merit-post6 {
  position: absolute;
  left: 1650px;
  display: block;
  margin: 0 3rem;
  width: 25rem;
  height: 400px;
  width: 350px;
}

.number {
  display: block;
  position: absolute;
  top: 10px;
  color: #fff;
  font-size: 80px;
  font-weight: 100;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
}

.image-area {
  position: absolute;
  left: 110px;
}

.btn {
  position: absolute;
  top: 350px;
  left: 250px;
}

.merit-text {
  position: absolute;
  top: 260px;
  left: -90px;

  .merit-list6-1 {
    gap: 18px;
    color: #000;
    font-size: 20px;
    background-color: #fff;
    border-bottom: 2px solid #000;
    display: block;
    width: 330px;
    height: 30px;
    //letter-spacing: 0.1em;
    font-weight: 600;
    padding: 0.2em 0;
    background-color: #fffefe;
    text-align: center;
    white-space: nowrap;
    margin-bottom: 1em;
  }

  .merit-list6-2 {
    color: #000;
    font-size: 20px;
    background-color: #fff;
    border-bottom: 2px solid #000;
    display: block;
    width: 230px;
    height: 30px;
    //letter-spacing: 0.1em;
    font-weight: 600;
    padding: 0.2em 0;
    background-color: #fffefe;
    text-align: center;
    white-space: nowrap;
  }
}

.profile6 {
  position: relative;
  top: 390px;
  left: 20px;
  color: #fff;
  font-size: 15px;
  font-weight: 550;
  line-height: 1.4;

  .initial {
    position: absolute;
    top: -8px;
  }

  .typesquare_option {
    position: absolute;
    top: 10px;
  }
}

.btn-ctr {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  top: 420px;
}

.btn-ctr a {
  // position: relative;
  display: flex;
  justify-content: center;
  color: #d92b44;
  font-size: 14px;
  font-weight: 600;
  border-color: #fff;
  letter-spacing: 0.05em;
  padding: 1.1em 1em;
  width: 150px;
  height: 18px;
  border-radius: 0.2rem;
  overflow: hidden;
  background-color: #fff;
  text-decoration: none;
  // left: 600px;
}

.transparent-zone {
  position: relative;
  width: 100%;

  .inner.transparency {
    position: relative;
    top: 400px;
    // display: flex;
    height: 180px;
    // justify-content: center;
    align-items: center;
    padding-left: 4rem;
    padding-right: 4rem;

    .inner_t {
      position: relative;
      // top: 400px;
      height: 180px;
      color: #fff;
      align-items: center;
      line-height: 1.5;
      text-align: justify;
      // display: flex;

      .sp-none-inline {
        position: relative;
        color: #fff;
        font-family: 'M PLUS 1p', sans-serif;
        font-weight: 600;
      }

      .de {
        position: absolute;
        font-size: 65px;
        top: 160px;
        left: 30px;
      }

      .tiiki {
        position: absolute;
        top: 120px;
        left: 120px;
        font-size: 110px;
      }

      .no {
        position: absolute;
        top: 160px;
        left: 350px;
        font-size: 60px;
      }

      .mirai {
        color: #DB4D44;
        font-size: 130px;
        top: 20px;
        right: 150px;
      }

      .wo {
        font-size: 60px;
      }

      .ugo {
        position: absolute;
        right: 50px;
        font-size: 120px;
      }

      .kasou {
        position: absolute;
        top: 30px;
        left: 100px;
        font-size: 80px;
      }
    }
  }
}